numpy
pandas
torch
ultralytics
opencv-python
pillow
numpy
fastapi
uvicorn
python-multipart
celery
redis
streamlit
requests
pytest
ruff
black
mypy
flower
tqdm
matplotlib
mlflow
dvc
dagshub
timm    
torchmetrics
faster-coco-eval
pycocotools
albumentations
python-dotenv